<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asger.nepalspil">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dreng2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >


        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".models.SpillePlade"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.SPIL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".felter.Farm"
            android:label="Farm"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.FARM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".felter.Toejbutik"
            android:label="Toejbutik"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.TOEJBUTIK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".felter.Marked"
            android:label="Marked"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MARKED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".felter.Skole"
            android:label="Skole"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.SKOLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".felter.Vaerksted"
            android:label="Vaerksted"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VAERKSTED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".felter.Hjem"
            android:label="Hjem"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.HJEM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".felter.Boghandel"
            android:label="Boghandel"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.BOGHANDEL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".felter.Lektiehjaelp"
            android:label="Lektiehjaelp"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.LEKTIEHJAELP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".felter.Eksamen"
            android:label="Eksamen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.EKSAMEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cf32e528d379f529c08f31d76eb14ff4c57fec4c" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
